In [1]:
import pandas as pd
from sql_util import df_to_sqlDB, sql_to_df

In [2]:
df = pd.read_csv('data/NBA_Stats.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14573 entries, 0 to 14572
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      14573 non-null  int64
 1   Player  14573 non-null  object
 2   Pos     14573 non-null  object
 3   Age     14573 non-null  int64
 4   Tm      14573 non-null  object
 5   G       14573 non-null  int64
 6   GS      14573 non-null  int64
 7   MP      14573 non-null  float64
 8   FG      14573 non-null  float64
 9   FGA     14573 non-null  float64
 10  FGPct   14485 non-null  float64
 11  P3      14573 non-null  float64
 12  P3A     14573 non-null  float64
 13  P3Pct   12375 non-null  float64
 14  P2      14573 non-null  float64
 15  P2A     14573 non-null  float64
 16  P2Pct   14419 non-null  float64
 17  eFGPct  14485 non-null  float64
 18  FT      14573 non-null  float64
 19  FTA     14573 non-null  float64
 20  FTPct   13824 non-null  float64
 21  ORB     14573 non-null  float64
 22  DRB     14573 non-null  float64
 23  TRB     14573 non-null  float64
 24  AST     14573 non-null  float64
 25  STL     14573 non-null  float64
 26  BLK     14573 non-null  float64
 27  TOV     14573 non-null  float64
 28  PF      14573 non-null  float64
 29  PTS     14573 non-null  float64
 30  Year    14573 non-null  object
dtypes: float64(23), int64(4), object(4)
memory usage: 3.4+ MB

In [3]:
q = """
SELECT * FROM NBA_STATS
LIMIT 10;
"""

sql_to_df(q)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.2,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-1998
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-1998
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.8,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-1998
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.3,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-1998
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.2,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-1998
5,4,Cory Alexander,PG,24,DEN,23,19,34.7,4.8,11.1,...,0.4,3.9,4.3,6.0,2.0,0.3,2.8,2.0,14.0,1997-1998
6,5,Ray Allen*,SG,22,MIL,82,82,40.1,6.9,16.0,...,1.5,3.4,4.9,4.3,1.4,0.1,3.2,3.0,19.5,1997-1998
7,6,Derek Anderson,SF,23,CLE,66,13,27.9,3.6,8.9,...,0.8,2.0,2.8,3.4,1.3,0.2,1.9,2.1,11.7,1997-1998
8,7,Greg Anderson,C,33,ATL,50,0,8.0,0.7,1.6,...,0.8,1.6,2.4,0.3,0.4,0.2,0.3,1.7,1.8,1997-1998
9,8,Kenny Anderson,PG,27,TOT,61,56,30.5,4.4,11.0,...,0.6,2.2,2.8,5.7,1.4,0.0,2.3,2.2,12.2,1997-1998